/*----------------> CONTATO <----------------*/

#contato {
    width: 100%;
    background: url('../imagens/bg_textura_rodape.png');
    background-size: cover;
}

.background-contato {
    width: 70vw;
    padding: 50px;
    background-image: url('../imagens/bottom-bg-trabalhos.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin: 0 auto;
}

.formulario {
    padding-top: 50px;
}

@media (min-width: 700px) {
    .formulario {
        padding-top: 100px;
    }
}

.formulario header {
    text-align: center;
    margin-bottom: 70px;
}

#contate-me {
    padding: 20px;
    border: 1px solid red;
}

.area-contate-me {
    margin: auto;
    border: 1px solid red;
}

.nome-email {
    display: inline-block;
    margin-bottom: 25px;
    border: 1px solid red;
}

.nome-email input {
    height: 50px;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
}

.texto {
    display: inline-block;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid red;
}

.botao-contato {
    margin-top: 50px;
    margin: auto;
    display: block;
}