/*----------------> CONTATO <----------------*/

#contato {
    width: 100%;
    height: 768px;
    background: url(../imagens/bg_textura_rodape.png);
    background-size: cover;
    padding-top: 1px;
}

.formulario {
    width: 813px;
    background-size: cover;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
}

.formulario header {
    text-align: center;
    margin-bottom: 70px;
}

#contate-me {
    padding: 20px;
    border: 1px solid red;
}

.area-contate-me {
    width: 700px;
    margin: auto;
    border: 1px solid red;
}

.nome-email {
    width: 315px;
    display: inline-block;
    margin-bottom: 25px;
    border: 1px solid red;
}

.nome-email input {
    width: 315px;
    height: 50px;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
}

.texto {
    width: 315px;
    display: inline-block;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid red;
}

.botao-contato {
    margin-top: 50px;
    margin: auto;
    display: block;
}