/* ESTILO PRINCIPAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fff;
}
    /*--> TOPO <--*/

#topo {
    width: 100%;
    height: 800px;
    background: url(../imagens/bg_topo.png) no-repeat 100% center;
    background-size: cover;
}

#topo nav {
    width: 100%;
    height: 65px;
    background-color: rgb(47, 47, 47, 30%);
}

#topo nav ul {
    text-align: center;
}

#topo nav ul a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 25px 34px;
}

#topo nav ul a:hover {
    background-color: #FFC248;
}

#topo h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60pt;
    margin-top: 54px;
    margin-bottom: 44px;
    text-align: center;
}

    /*----------------> SOBRE <------------------*/

#sobre {
    max-width: 970px;  
    margin: auto;
    margin-top: -540px;
    position: relative;
    z-index: 10;
    box-shadow: -10px 15px 10px rgba(73, 73, 73, 25%);
}

.container-eu-sou {
    background: linear-gradient(180deg, rgb(47, 47, 47, 50%),  rgb(47, 47, 47, 100%), rgb(47, 47, 47, 100%));
    margin: auto;
    padding: 160px 0 132px 0;
}

.eu-sou {
    width: 400px;
    display: inline-block;
    margin-left: 65px;
    text-align: center;
}

.eu-sou h2 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 15px;
}

.ano-trabalho {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.eu-texto {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.botao {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 16px 50.70px;
    background-color: #FFC248;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(73, 73, 73, 0.6)
}

.botao:hover {
    background-color: #fff;
    color: #262729;
}

.pessoal {
    width: 400px;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}

.pessoal img {
    border-radius: 100%;
}

.pessoal p {
    width: 285px;
    font-size: 15px;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    padding: 0 30px;
}

    /*----------------> TRABALHO <----------------*/

#trabalho {
    width: 100%;
    height: 743px;
    background: url(../imagens/bg_textura.png);
    background-size: cover;
    margin-top: -145px;
    padding-top: 1px;
}

#trabalho aside {
    max-width: 900px;
    height: 720px;
    background: url(../imagens/bg-trabalhos.png) no-repeat left;
    background-size: 992px;
    background-position-x: -7px;
    margin: auto;
    padding: 50px;
    position: relative;
    z-index: 11;
    text-align: center;
}

.container-trabalho {
    height: 800px;
    background-size: cover;
    padding-top: 62px;
}

.container-trabalho aside h3 {
    margin-top: 120px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #262729;
}

.area-portfolio {
    max-width: 658px;
    margin: auto;
}

.area-portfolio a {
    width: 314.84px;
    height: 197px;
    background: #E5E5E5;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}

.area-portfolio a:hover {
    background: linear-gradient(180deg, rgb(47, 47, 47, 10%), rgb(47, 47, 47, 90%));
}


    /*----------------> CONTATO <----------------*/

#contato {
    width: 100%;
    height: 768px;
    background: url(../imagens/bg_textura_rodape.png);
    background-size: cover;
    padding-top: 1px;
}

.formulario {
    width: 813px;
    background-size: cover;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
}

.formulario header {
    text-align: center;
    margin-bottom: 70px;
}

#contate-me {
    padding: 20px;
    border: 1px solid red;
}

.area-contate-me {
    width: 700px;
    margin: auto;
    border: 1px solid red;
}

.nome-email {
    width: 315px;
    display: inline-block;
    margin-bottom: 25px;
    border: 1px solid red;
}

.nome-email input {
    width: 315px;
    height: 50px;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
}
<<<<<<< HEAD
=======

.texto {
    width: 315px;
    display: inline-block;
    background: #707070;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid red;
}

.botao-contato {
    margin-top: 50px;
    margin: auto;
    display: block;
}



=======
}
>>>>>>> df7a35b1bf6ad5d42545d9acbafb4a0a8f031c67
=======
}
>>>>>>> df7a35b1bf6ad5d42545d9acbafb4a0a8f031c67
>>>>>>> 8e79342 (CORRECOES)
