/*--> SOBRE <--*/

#sobre {
    max-width: 813px;
    height: 720px;
    max-height: 720px;
    background: linear-gradient(186deg, rgb(47, 47, 47, 50%), rgb(47, 47, 47, 100%));
    margin: auto;
    margin-top: -590px;
    padding: 50px;
    position: relative;
    z-index: 10;
    box-shadow: -10px 15px 10px rgba(73, 73, 73, 25%)
}

.eu-sou {
    width: 40%;
    max-width: 40%;
    text-align: center;
    display: block;
    margin-top: 115px;
    margin-left: 50px;
    float: left;
}

.eu-sou h2 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 15px;
}

.ano-trabalho {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.eu-texto {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.pessoal {
    width: 40%;
    max-width: 40%;
    display: block;
    text-align: center;
    float: right;
    margin-top: 285px;
    margin-right: 50px;
}

.pessoal img {
    border-radius: 100%;
}

.pessoal p {
    font-size: 12px;
    text-align: justify;
    margin-top: 20px;
    padding: 0 30px;
}