/*--> SOBRE <--*/

#sobre {
    max-width: 70vw;
    height: 720px;
    max-height: 720px;
    margin: auto;
    padding: 50px;
    position: relative;
    z-index: 10;
    background: linear-gradient(180deg, rgba(47, 47, 47, 0.05) 0%, rgba(47, 47, 47, 0.34633) 17.71%, #2F2F2F 56.77%);
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.container-eu-sou {
    margin: auto;
    padding: 160px 0 132px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

.eu-sou {
    width: 400px;
    display: inline-block;
    margin-left: 65px;
    text-align: center;
}

.eu-sou h2 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 15px;
}

.ano-trabalho {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.eu-texto {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.botao {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 16px 50.70px;
    background-color: #FFC248;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(73, 73, 73, 0.6)
}

.botao:hover {
    background-color: #fff;
    color: #262729;
}

.pessoal {
    width: 400px;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}

.pessoal img {
    border-radius: 100%;
}

.pessoal p {
    width: 285px;
    font-size: 15px;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    padding: 0 30px;
}