/*--> TOPO <--*/

#topo {
    width: 100%;
    background: url(../imagens/bg_topo.png) no-repeat 100% center;
    background-size: cover;
    background-position: center;
}

#topo nav {
    width: 100%;
    height: auto;
    background-color: rgb(47, 47, 47, 30%);
}

#topo nav ul {
    text-align: center;
}

#topo nav ul a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 15px 15px;
}

#topo nav ul a:hover {
    background-color: var(--amarelo);
}

#topo h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60pt;
    margin-top: 54px;
    margin-bottom: 44px;
    text-align: center;
}