/*----------------> TRABALHO <----------------*/

#trabalho {
    max-width: 100vw;
    background: url('../imagens/bg_textura.png');
    background-size: cover;
    z-index: 999;
}

#trabalho aside {
    max-width: 70vw;
    margin: auto;
    position: relative;
    text-align: center;
}

.background-trabalho {
    max-width: 100vw;
    margin: auto;
    background-color: #b0aeaf;
}

.container-trabalho {
    padding: 50px 0;
}

@media (min-width: 700px) {
    .background-trabalho {
        width: 70vw;
    }
}

.container-trabalho aside h3 {
    text-transform: uppercase;
    color: #262729;
    padding-bottom: 50px;
}

.area-portfolio {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.area-portfolio a {
    width: 314.84px;
    height: 197px;
    display: flex;
    border-radius: 10px;
    margin: 5px;
}

.area-portfolio a {
    text-decoration: none;
    color: #fff;
}

.tema-img {
    width: 314.84px;
    height: 197px;
    display: flex;
}

.tema-img h4 {
    align-self: flex-end;
    padding: 15px 10px;
}

/*----------------> IMAGENS <----------------*/

.area-portfolio .img-01 {
    background: url(../imagens/museu-nacional.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-portfolio .img-01:hover {
    background: url(../imagens/museu-nacional.png), linear-gradient(0deg, rgba(37, 34, 24, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.area-portfolio .img-02 {
    background: url(../imagens/noticias-cidade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-portfolio .img-02:hover {
    background: url(../imagens/noticias-cidade.png), linear-gradient(0deg, rgba(37, 34, 24, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.area-portfolio .img-03 {
    background: url(../imagens/prefeitura-sjb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-portfolio .img-03:hover {
    background: url(../imagens/prefeitura-sjb.png), linear-gradient(0deg, rgba(37, 34, 24, 1) 0%, rgba(255, 255, 255, 0) 100%);
}