/*----------------> TRABALHO <----------------*/

#trabalho {
    width: 100%;
    background: url('../imagens/bg_textura.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 999;
}

#trabalho aside {
    max-width: 70vw;
    margin: auto;
    position: relative;
    text-align: center;
}

.background-trabalho {
    background-color: #b0aeaf;
}

.container-trabalho {
    width: 100vw;
    padding: 50px 0;
}

.container-trabalho aside h3 {
    text-transform: uppercase;
    color: #262729;
    padding-bottom: 50px;
}

.area-portfolio {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.area-portfolio a {
    width: 314.84px;
    height: 197px;
    background: #E5E5E5;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}

.area-portfolio a:hover {
    background: linear-gradient(180deg, rgb(47, 47, 47, 10%), rgb(47, 47, 47, 90%));
}